* {
    user-select: none;
}

body {
    width: fit-content;
    margin: auto;
    padding: 16px;
    max-width: 100%;
    box-sizing: border-box;
}

/* #select-point, #input-projected-pos-x, #input-projected-pos-y, #input-world-pos-x, #input-world-pos-y, #input-world-pos-z {
    width: 80px;
} */

input[type=number], select {
    width: 80px;
}

.frames {
    display: flex;
    column-gap: 16px;
    overflow-x: scroll;
}

.frame {
    display: flex;
    flex-direction: column;
}

.frame-footer {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.frame-footer > button {
    width: 64px;
}

.frame-canvas {
    width: 600px;
    height: 400px;
    background: black;
    image-rendering: pixelated;
    outline: none;
}

.add-frame-div {
    display: flex;
    align-items: center;
    height: 400px;
    align-self: flex-end;
}

/* #canvas-error {
    width: 600px;
    height: 400px;
    background: black;
    image-rendering: pixelated;
}

:has(> #canvas-error) {
    display: inline-block;
    width: 600px;
    height: 400px;
    position: relative;
}

:has(> #canvas-error) > :nth-child(2) {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 1px);
    width: 2px;
    height: 8px;
    background: red;
}

:has(> #canvas-error) > :nth-child(3) {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 4px);
    width: 8px;
    height: 2px;
    background: red;
} */

#textarea-state {
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}

#textarea-tomdata {
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}